* {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style-type: none;
}
a, button {
    cursor: pointer;
}
html {
    scroll-behavior: smooth;
}
html, body {
    height: 100%;
}
body {
    overflow-x: hidden;
}

.content-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main {
    flex: 1 1 auto;
}
:root {
    --text_color: black;
    --white: white;
    --light_pink: #FFB1BF;
    --pink: #fa6b7b;
    --brown: #AE6E5A;
    --green: rgb(209, 235, 168);
    --creamy: #E0BA96;
    --light: rgb(245, 238, 234);
    --beige: #FFECDB;
    --light-grey: #E5E5E5;
    --red: rgb(255, 71, 71);
    --grey: #aaa;
    --width: 1em;
    --width_in_px: 10px;
    --padding-sides: calc(120px + 80 * (100vw / 1920));
}
button {
    font-family: var(--font_Mont);
    font-weight: var(--regular);
    font-size: calc(var(--font_size) * 1.6);
    line-height: calc(var(--font_size) * 2.0);
    border: none;
}

.nav {
    position: relative;
    width: 100%;
    height: calc(var(--width_in_px) * 6);
}

#header {
    position: relative;
    z-index: 2;
    width: 100%;
    --head_height: calc(var(--width_in_px) * 20);
    height: var(--head_height);
    padding: calc(var(--width_in_px) * 6) calc(var(--width_in_px) * 7);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--head_height);
    background-image: url(../img_less_size/3.jpg);
    background-position: center center;
    background-size: 100%;
    z-index: -1;
}

#header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--head_height);
    background: transparent;
    backdrop-filter: blur(3px);
    z-index: -1;
}

.content-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: calc(var(--width_in_px) * 7) var(--padding-sides) calc(var(--width_in_px) * 10) var(--padding-sides);
    box-sizing: border-box;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

/* СКРОЛЛБАР */

body::-webkit-scrollbar {
    width: 12px;
    background: var(--white);
}
body::-webkit-scrollbar-thumb {
    border-radius: var(--width_in_px);
    background: var(--light_pink);
}


/* 
ТЕКСТЫ И ШРИФТЫ
 */

 :root {
    --font_Mont: Montserrat;
    --font_Mont_Alt: Montserrat Alternates;
    --medium: 500;
    --regular: 400;
    --font_size: 10px;
}

a {
    text-decoration: none;
}

body {
    font-family: var(--font_Mont);
    font-weight: var(--regular);
    font-style: normal;
    font-size: calc(12px + 4 * (100vw / 1920));
    color: var(--text_color);
    background: var(--white);
}

text {
    font-size: calc(12px + 4 * (100vw / 1920));
    line-height: calc(var(--font_size) * 2.0);
}

.h1, .h2, .h3, .h4 {
    font-family: var(--font_Mont_Alt);
    font-style: normal;
    text-transform: uppercase;
    font-weight: var(--medium);
}

.h1 {
    font-size: calc(24px + 7 * (100vw / 1920));
    line-height: calc(32px + 7 * (100vw / 1920));
}

.h2 {
    font-size: calc(20px + 7 * (100vw / 1920));
    line-height: calc(29px + 7 * (100vw / 1920))
}

.h3 {
    font-size: calc(13px + 7 * (100vw / 1920));
    line-height: calc(17px + 7 * (100vw / 1920));
}
.h4 {
    font-size: calc(12px + 7 * (100vw / 1920));
    line-height: calc(17px + 7 * (100vw / 1920));
    text-transform: none;
    font-weight: var(--regular);
}

.tab {
    margin-bottom: calc(var(--width_in_px) * 7);
}
.tab_1 {
    margin-bottom: calc(var(--width_in_px) * 3.2);
}
.tab_2 {
    margin-bottom: calc(var(--width_in_px) * 1.2);
}

.goods_card .h4 {
    width: calc(var(--width_in_px) * 20.4);
    max-height: calc(var(--width_in_px) * 5.4);
    font-size: calc(13px + 7 * (100vw / 1920));
    font-weight: var(--medium);
    padding-bottom: calc(var(--width_in_px) * 0.7);
}

.goods_card .top .text {
    width: calc(var(--width_in_px) * 20.4);
    max-height: calc(var(--width_in_px) * 2.0);
}

.category_card .contents {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: inherit;
    writing-mode: vertical-lr;
    text-orientation: upright;
    padding: calc(var(--width_in_px) * 2);
    transform: translateY(60%);
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
}
.contents > a {
    font-weight: var(--medium);
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.2);
    color: var(--white);
    padding: 2px;
    border: 2px solid transparent;
    border-radius: 3px;
    transition: 0.1s;
}
/* ЛОГОТИП */
.logo {
    width: calc(var(--width) * 10);
}

/* АНИМАЦИИ */

body::-webkit-scrollbar-thumb:hover {
    background: var(--pink);
}

div.cart {
    position: absolute;
    z-index: 7;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
    display: flex;
    align-items: flex-end;
}

div.cart .shopping_cart {
    width: 30px;
    height: auto;
    margin-left: 10px;
}

div.total {
    position: relative;
    max-width: calc(var(--width_in_px) * 21);
}

.total_price {
    position: relative;
    overflow: hidden;
    color: white;
}

.hr {
    position: absolute;
    top: 120%;
    left: 0;
    width: inherit;
}
.hr_svg {
    fill: none;
    stroke: var(--white);
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}
.icons_img {
    height: 24px;
    object-fit: cover;
    display: none;
}
#footer {
    width: 100%;
    height: calc(var(--width_in_px) * 15);
}
.footer {
    z-index: 2;
    box-sizing: border-box;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.footer .h4 {
    font-weight: var(--medium);
}
.footer::before, .footer::after {
    content: '';
    position: absolute;
    width: 100%;
    height: inherit;
}
.footer::before {
    z-index: -2;
    background-image: url(../img_less_size/26.jpg);
    background-size: 100%;
    background-position: center right;
}
.footer::after {
    z-index: -1;
    backdrop-filter: blur(4px);
}
#social_networks, #call_us {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 70px;
}
#call_us {
    margin-left: 0px;
    margin-right: 70px;
}
#call_us a {
    padding: 2px;
    color: var(--white);
    transition: 0.1s;
}
#call_us a:hover {
    text-decoration: underline;
    text-underline-offset: 1px;
}
#social_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 175px;
}
.soc_icon {
    width: 32px;
    height: 32px;
    border-radius: 6px;
}

.hidden {
    visibility: hidden;
}

.total_price {
    text-decoration: underline var(--white);
    text-underline-offset: 6px;
}

.hide {
    display: none;
}

@media (max-width: 1350px) {
    :root {
        --padding-sides: calc(80px + 60 * (100vw / 1920));
    }
    .nav {
        height: calc(var(--width_in_px) * 5);
    }
}
@media (max-width: 1220px) {
    :root {
        --padding-sides: calc(70px + 50 * (100vw / 1920));
    }
}
@media (max-width: 980px) {
    .content-container {
        padding-top: 50px;
        padding-bottom: 70px;
    }
    .tab {
        margin-bottom: 50px;
    }
    #social_icons {
        width: 140px;
    }
}
@media (max-width: 800px) {
    #thanks {
        display: none;
    }
}
@media (max-width: 750px) {
    .icons_img {
        display: block;
    }
    #social_icons {
        width: 120px;
    }
    .soc_icon {
        height: 24px;
        width: auto;
    }
}
@media (max-width: 520px) {
    div.cart {
        transform: translateY(-74%);
    }
    .content-container {
        padding: 30px 12px 50px 12px;
    }
    #social_networks {
        width: 100px;
        margin-left: 12px;
    }
    #social_icons {
        width: 80px;
    }
    .soc_icon {
        height: 18px;
        width: auto;
    }
    #call_us {
        width: 100px;
        margin-left: 0px;
        margin-right: 12px;
    }
    .footer {
        text-align: center;
    }
    .h1 {
        font-size: calc(20px + 5 * (100vw / 1920));
        line-height: calc(28px + 5 * (100vw / 1920));
    }
    .h2 {
        font-size: calc(16px + 5 * (100vw / 1920));
        line-height: calc(25px + 5 * (100vw / 1920))
    }
    .h3 {
        font-size: calc(12px + 7 * (100vw / 1920));
        line-height: calc(16px + 7 * (100vw / 1920));
    }
    .h4 {
        font-size: calc(12px + 7 * (100vw / 1920));
        line-height: calc(12px + 7 * (100vw / 1920));
    }
    .text {
        font-size: calc(11px + 7 * (100vw / 1920));
        line-height: calc(11px + 7 * (100vw / 1920));
    }
    .logo {
        width: 110px
    }
    .tab {
        margin-bottom: 12px;
    }
    .tab_1 {
        margin-bottom: 8px;
    }
    .tab_2 {
        margin-bottom: 6px;
    }
    .icons_img {
        height: 18px;
    }
    div.cart .shopping_cart {
        width: 24px;
    }
}
@media (max-width: 365px) {
    div.cart {
        top: 40%;
    }
    .total_price {
        text-decoration: underline var(--white);
        text-underline-offset: 4px;
    }
    .icons_img {
        height: 15px;
    }
}